<h1>Options</h1>
<p>
    <a href="/on" class="btn btn-success btn-lg btn-block" role="button" aria-pressed="true">On</a>
</p>
<p>
    <a href="/off" class="btn btn-danger btn-lg btn-block" role="button" aria-pressed="true">Off</a>
</p>
<p>
    <a href="/luminosity" class="btn btn-warning btn-lg btn-block" role="button" aria-pressed="true">Luminosity</a>
</p>
<p>
    <a href="/sequences" class="btn btn-warning btn-lg btn-block" role="button" aria-pressed="true">Sequences</a>
</p>
<p>
    <a href="/color" class="btn btn-warning btn-lg btn-block" role="button" aria-pressed="true">Color</a>
</p>
<p>
    <a href="/maximize" class="btn btn-warning btn-lg btn-block" role="button" aria-pressed="true">Maximize Color</a>
</p>